html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 32px;
}
p {
  font-size: 20px;
}
code {
  font-size: 20px;
}
#font-size-display {
  font-size: 20px;
}
/* xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px */
@media (max-width: 1399px) {
  html {
    font-size: 62.5%;
  }
  h1 {
    font-size: 32px;
  }
  #font-size-display {
    font-size: 32px;
  }
}
@media (max-width: 1199px) {
  html {
    font-size: 56.25%;
  }
  h1 {
    font-size: 32px;
  }
  #font-size-display {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  h1 {
    font-size: 32px;
  }
  #font-size-display {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  #font-size-display {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
  #font-size-display {
    font-size: 32px;
  }
}
